<DOCTYPE html>
  <html>
    <head>
      <title>Application Submitted</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    </head>
    <body>
      {% include 'navbar.html' %}
      {% include 'banner.html'%}

      <div class="container">  
         <h1 class="text-center mt-2 mb-4"> Aachar Careers</h1>
        <p>Your application for the role of <b>{{job['title']}}</b> has been submitted successfully. We will review your application and get back to you soon.</p>
      <h5>Full Name</h5>
      <div class='mb-2'>{{application['full_name']}}</div>
      <h5>Email ID</h5>
      <div class='mb-2' >{{application['email']}}</div>
      <h5>LinkedIn ID</h5>
      <div class='mb-2'>{{application['linkedin']}}</div>
      <h5>Education</h5>
      <div class='mb-2'>{{application['education']}}</div>
      <h5>Work Experience</h5>
      <div class='mb-2'>{{application['work_experience']}}</div>
      <h5>CV Link</h5>
      <div class='mb-2'>{{application['cv_link']}}</div>
      </div>
       {% include 'footer.html' %}
    </body>
  </html>