<h4>Application Form</h4>
<form action='/job/{{job['id']}}/apply' method='post'>
  <div class='mb-2'>
    <label for="fullName" class="form-label">Full Name</label><br>
    <input type="text" class="form-control" id="fullName" name="full_name" placeholder="Enter your Full Name" required>
  </div>
  <div class='mb-2' >
    <label for="emailId" class="form-label">Email ID</label><br>
    <input type="email" class="form-control" id="emailId" name="email" placeholder="Enter your Email" required>
  </div>
  <div class='mb-2'>
    <label for="linkedinId" class="form-label">LinkedIn ID</label><br>
    <input type="text" class="form-control" id="linkedinId" name="linkedin" placeholder="Enter your LinkedIn ID">
  </div>
  <div class='mb-2'>
    <label for="education" class="form-label">Education</label><br>
    <textarea class="form-control" id="education"  name="education"></textarea>
  </div>
  <div class='mb-2'>
    <label for="work_experience" class="form-label">Work Experience</label><br>
    <textarea class="form-control" id="work_experience"  name="work_experience"></textarea>
  </div>
  <div class='mb-2' >
    <label for="cv_link" class="form-label">CV Link</label><br>
    <input type="text" class="form-control" id="cv_link" name="cv_link" required>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit Application</button>
</form>
