<!DOCTYPE html>
  <html data-bs-theme="light">
    <head>
      <title>Careers</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/themes.css') }}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

     
     
    </head>
    <body>
      {% include 'navbar.html' %}
      {% include 'banner.html'%}
      <div class="container">  
      <h1 class="text-center mt-2 mb-4"> {{company_name}} Careers</h1>

      <div class='row' style='margin-bottom: 18px;'>
        <div class='col-md-6'>
      <p class="lead">Discover the latest job openings in the tech industry, curated to help you take the next step in your career. Whether you're a developer, designer, data analyst, or product manager, explore a wide range of opportunities updated regularly. Our platform makes it simple to find roles that match your skills and aspirations—just click any listing to view details and apply directly through the job page. Let <b>Aachar Careers</b> be your partner in professional growth.</p>  </div>
        <div class='d-none d-md-block col-md-6'>  
      <img src='/static/people.jpeg' style='height:320px; border-radius:4px;'>  
        </div>
      </div> 
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
           {% include 'jobitem.html' %}
        {% endfor %}  
      </div>
        <div class="text-center">
      <a href='mailto:aarushkumarchoubey@gmail.com?subject=Question%20about%20Opening%20Positions&body=My%20Name%3A%20__your%20name%20here__%0D%0AMy%20Questions%3A%20__enter%20question%20here__' class="btn btn-success btn-lg">Contact Us</a>
        </div>
      
      </div>
      {% include 'footer.html' %}
      <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    </body>
  </html>